@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Style */

/* navigation bar */

.nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
  display: flex;
  min-height: 100px;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.logo-content {
  display: flex;
  width: 50%;
  align-items: center;
}

.logo {
  color: #0b0223;
  font-size: 35px;
  font-weight: 700;
}

.logo .diff-color {
  color: #ff42a5;
}

.logo-content img {
  width: 65px;
  margin-right: 12px;
  object-fit: cover;
}

.menu-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-container a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
  padding: 10px 24px;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon1 {
  color: #f61c0d;
  text-align: center;
  margin-left: 14px;
  margin-right: 10px;
}

.btn .icon1 {
  font-size: 25px;
}
.btn .icon2 {
  font-size: 20px;
}

/*home section  */

.home-container {
  width: 90vw;
  margin: 0px auto 0;
  min-height: 50px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
}

.left {
  width: 50%;
  padding-top: 90px;
}

.left-title {
  color: #0b0223;
  font-size: 48px;
  padding-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
  /* margin-bottom: 0px; */
}

.goat {
  color: #8758f1;
  padding-bottom: 15px;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
}
.list1 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  padding-bottom: 6px;
}
.list2 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  padding-bottom: 6px;
}
.list3 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  padding-bottom: 35px;
}

.bt1 {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 14px 24px;
  color: #fff;
  border: none;
  font-size: 16px;
  margin-right: 12px;
  cursor: pointer;
}

.bt2 {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 14px 24px;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* online card section */

section .h2 {
  text-align: center;
  color: #0b0223;
  font-size: 34px;
  margin-top: 70px;
  font-weight: 700;
}

.funny {
  color: #8758f1;
}

section .p {
  padding-top: 12px;
  padding-bottom: 30px;
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 400;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90vw;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: left;
}

.card img {
  max-width: 100%;
  height: auto;
}

/* .card-body{
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: black;
} */

.card p {
  padding-top: 10px;
  color: #534c64;
  font-size: 14px;
  font-weight: 500;
}

/* play section */

.play-game {
  width: 90vw;
  align-items: center;
  height: vh;
  margin: auto;
  border: 1px solid black;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 40px;
  padding-top: 60px;
}

.play-game-content {
  width: 50%;
  border: 1px solid brown;
  margin-left: 100px;
  text-align: right;
}

.play-game-image {
  width: 50%;
  border: 1px solid brown;
  position: relative;
  margin-left: 220px;
}

.horse-pic {
  width: 450px;
  height: auto;
  margin: 0 auto;
}

.doll {
  width: 230px;
  position: absolute;
  top: 260px;
  right: 330px;
}

.play-title {
  font-size: 38px;
  font-weight: 700;
  width: 450px;
  border: 1px solid red;
  margin-bottom: 15px;
}

.play-diff {
  color: #ff42a5;
}

.p2 {
  color: #534c64;

  width: 450px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid red;
}

/* toogle button */
.toggle-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.little-card {
  /* grid-template-columns: repeat(5, 1fr); */
  width: 93vw;
  border: 1px solid black;
  margin: 0 auto;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.top-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  border: 1px solid rgb(72, 0, 255);
}

.toggle {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 50px;
  background: #fff;
  color: black;
  border: 2px solid #fff;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

 #toggl2 {
  border: 2px solid #ff42a5;
  cursor: pointer;
  
}
.toggle, #toggl2 p{
  color: #ff42a5;
}

.toggle:hover {
  border: 2px solid #ff42a5;
  cursor: pointer;
}

.toggle img {
  width: 40px;
  margin-right: 10px;
}

.toggle p {
  color: #0b0223;
  font-size: 13px;
  font-weight: 600;
}

/* footer */

.bg-footer {
  background: #0b0223;
  margin-top: 150px;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.foot-logo {
  display: flex;
  padding-bottom: 30px;
}

.logo2 {
  font-size: 35px;
  font-weight: 700;
}

.logo2 .diff-color {
  color: #ff42a5;
}

.foot-logo img {
  margin-right: 10px;
}

.footer-menu {
  display: flex;
  padding-bottom: 30px;
}

.footer-menu a {
  text-decoration: none;
  color: #fff;
  margin-right: 28px;
}

.foot-icon {
  display: flex;
  padding-bottom: 30px;
}

.foot-icon span {
  margin-right: 30px;
  font-size: 30px;
}

.foot-sub {
  display: flex;
  padding-bottom: 20px;
}

.foot-sub a {
  text-decoration: none;
  color: #fff;
  margin-right: 28px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.copy-write {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Mobile responsive */

@media screen and (max-width: 426px) {
  .nav-container {
    flex-direction: column;
    padding: 20px;
  }

  .menu-container {
    flex-direction: column;
    width: 100%;
  }

  .menu-container a {
    margin-top: 35px;
  }

  .btn {
    margin-top: 40px;
  }

  .logo-content {
    padding: 0px;
  }

  .logo-content img {
    width: 55px;
    margin: 0 8px 0 0;
  }

  .logo {
    font-size: 30px;
  }

  /* home */
  .home-container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .logo-content {
  }

  .left,
  .right {
    width: 100%;
  }

  .left-title {
    font-size: 32px;
  }

  .left {
    padding-top: 20px;
  }

  .goat {
    font-size: 55px;
  }

  .list1,
  .list2,
  .list3 {
    font-size: 15px;
  }

  .bt1 {
    margin-right: 6px;
  }

  .right img {
    width: 100%;
  }

  /* online  */

  .card-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  section .h2 {
    font-size: 24px;
  }

  section .p {
    font-size: 11px;
  }

  .card p {
    font-size: 11px;
  }
  .play-game {
    flex-direction: column;
    padding: 30px;
  }

  .play-game-image {
    width: 100%;
    margin-left: 0px;
  }

  .play-game-content {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
  }

  .play-title {
    font-size: 25px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
  }

  .p2 {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .horse-pic {
    width: 100%;
  }

  .doll {
    width: 130px;
    top: 240px;
    right: 230px;
  }

  .little-card {
    padding: 10px;
  }

  .toggle {
    padding: 2px;
  }

  .top-1 {
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 10px;
    align-items: center;
    gap: 5px;
  }


  .toggle {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px;
    width: auto;
    height: auto;
    margin-right: 5px;
  }

  .toggle p {
    font-size: 9px;
  }

  .toggle img {
    width: 30px;
    object-fit: cover;
    margin-right: 4px;
  }

  .footer-container {
    height: auto;
    padding-bottom: 40px;
    padding-top: 80px;
  }

  .footer-menu {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    padding-right: 40px;
  }
  .footer-menu a {
    margin-top: 20px;
    font-size: 13px;
  }

  .foot-icon {
    flex-wrap: wrap;
    padding-left: 120px;
    padding-right: 100px;
    justify-content: center;
  }

  .foot-icon span {
    margin-top: 20px;
    font-size: 25px;
  }

  .foot-sub {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    padding-right: 40px;
  }

  .foot-sub a {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 12px;
  }

  .copy-write {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    width: 180px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    padding: 30px;
  }
  .logo-content {
    width: 30%;
    margin: 0 auto;
  }

  .menu-container {
    flex-direction: column;
    width: 100%;
  }

  .menu-container a {
    margin-top: 35px;
  }

  .btn {
    margin-top: 40px;
  }
  .home-container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .left,
  .right {
    width: 100%;
    text-align: center;
  }

  .left-title {
    font-size: 32px;
    text-align: center;
  }

  .goat {
    font-size: 55px;
    text-align: center;
  }

  .list1,
  .list2,
  .list3 {
    font-size: 15px;
  }

  .bt1 {
    margin-right: 6px;
  }

  .right img {
    width: 100%;
  }

  /* online */

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }

  .h2 {
    font-size: 30px;
  }

  .play-game {
    flex-direction: column;
    padding: 30px;
  }

  .play-game-image {
    width: 100%;
    margin-left: 0px;
  }

  .play-game-content {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
  }

  .play-title {
    font-size: 30px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
  }

  .p2 {
    font-size: 14px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .horse-pic {
    width: 80%;
    margin-left: 66px;
  }

  .doll {
    width: 190px;
    top: 340px;
    right: 440px;
  }

  /* toggle */

  .little-card{
    padding: 40px;
  }

  .top-1{
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    
  }

  .toggle{
    width: auto;
  }
}
