@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Style */

/* navigation bar */

.nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
  display: flex;
  min-height: 100px;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.logo-content {
  display: flex;
  width: 50%;
  align-items: center;
}

.logo {
  color: #0b0223;
  font-size: 35px;
  font-weight: 700;
}

.logo .diff-color {
  color: #ff42a5;
}

.logo-content img {
  width: 65px;
  margin-right: 12px;
  object-fit: cover;
}

.menu-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-container a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
  padding: 10px 24px;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon1 {
  color: #f61c0d;
  text-align: center;
  margin-left: 14px;
  margin-right: 10px;
}

.btn .icon1 {
  font-size: 25px;
}
.btn .icon2 {
  font-size: 20px;
}

/*home section  */

.home-container {
  width: 90vw;
  margin: 0px auto 0;
  min-height: 50px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
}

.left {
  width: 50%;
  padding-top: 90px;
}

.left-title {
  color: #0b0223;
  font-size: 48px;
  padding-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
  /* margin-bottom: 0px; */
}

.goat {
  color: #8758f1;
  padding-bottom: 15px;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
}
.list1 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  padding-bottom: 6px;
}
.list2 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  padding-bottom: 6px;
}
.list3 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  padding-bottom: 35px;
}

.bt1 {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 14px 24px;
  color: #fff;
  border: none;
  font-size: 16px;
  margin-right: 12px;
  cursor: pointer;
}

.bt2 {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 14px 24px;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* online card section */

section .h2 {
  text-align: center;
  color: #0b0223;
  font-size: 34px;
  margin-top: 70px;
  font-weight: 700;
}

.funny {
  color: #8758f1;
}

section .p {
  padding-top: 12px;
  padding-bottom: 30px;
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size:15px;
  font-weight: 400;
  
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90vw;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: left;
}

.card img {
  max-width: 100%;
  height: auto;
}

/* .card-body{
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: black;
} */

.card p {
  padding-top: 10px;
  color: #534c64;
  font-size: 14px;
  font-weight: 500;
}

/* Mobile responsive */

@media screen and (max-width: 426px) {
  .nav-container {
    flex-direction: column;
    padding: 20px;
  }

  .menu-container {
    flex-direction: column;
    width: 100%;
  }

  .menu-container a {
    margin-top: 35px;
  }

  .btn {
    margin-top: 40px;
  }

  .logo-content {
    padding: 0px;
  }

  .logo-content img {
    width: 55px;
    margin: 0 8px 0 0;
  }

  .logo {
    font-size: 30px;
  }

  /* home */
  .home-container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .logo-content {
  }

  .left,
  .right {
    width: 100%;
  }

  .left-title {
    font-size: 32px;
  }

  .left {
    padding-top: 20px;
  }

  .goat {
    font-size: 55px;
  }

  .list1,
  .list2,
  .list3 {
    font-size: 15px;
  }

  .bt1 {
    margin-right: 6px;
  }

  .right img {
    width: 100%;
  }

  /* online  */

  .card-container{
     grid-template-columns: 1fr;
     padding: 30px;
  }

  section .h2{
    font-size: 24px;
  }

  section .p{
   font-size: 11px;
  }

  .card p{
    font-size: 11px;
  }


}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    padding: 30px;
  }
  .logo-content {
    width: 30%;
    margin: 0 auto;
  }

  .menu-container {
    flex-direction: column;
    width: 100%;
  }

  .menu-container a {
    margin-top: 35px;
  }

  .btn {
    margin-top: 40px;
  }
  .home-container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .left,
  .right {
    width: 100%;
    text-align: center;
  }

  .left-title {
    font-size: 32px;
    text-align: center;
  }

  .goat {
    font-size: 55px;
    text-align: center;
  }

  .list1,
  .list2,
  .list3 {
    font-size: 15px;
  }

  .bt1 {
    margin-right: 6px;
  }

  .right img {
    width: 100%;
  }

  /* online */

  .card-container{
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }

  .h2{
    font-size: 30px;
  }
}
